<app-navigation-btn></app-navigation-btn>

<section>
  <div
      class="card"
      style="width: 18rem;"
      *ngFor="let ticket of filteredTickets; let index = index"
      >
      <div class="card-body"
           >
           <h5 class="card-title">ადგილი: {{ticket.persons[0].seat.number}}</h5>
           <h5 class="card-title">თარიღი: {{ticket.date}}</h5>
           <h5 class="card-title">საიდან: {{ticket.train.from}} {{ticket.train.departure}}</h5>
           <h5 class="card-title">სად: {{ticket.train.to}} {{ticket.train.arrive}}</h5>
           <div class="buttons">
             <a
                class="btn btn-danger"
                (click)="deleteTicket(ticket.id)"
                >წაშლა</a>
             <a
                 class="btn btn-success"
                 routerLink="/ticket info/{{ticketIDs[index]}}"
                 >ინფორმაციის ნახვა</a>
           </div>
      </div>
  </div>
</section>
