section {
  margin: 40px auto;

  max-width: 1400px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

section:last-child {
  /* Your custom styles for the last section */
  background-color: #f8f9fa; /* Light background color */
  padding: 20px; /* Padding around the section */
  border-top: 2px solid #ddd; /* Add a border on top */
  text-align: center; /* Center align the content */
}

