<section class="filter">
  <h1>მატარებლის ოფიციალური ბილეთი მარტივად</h1>
  <div>
    <input type="date" class="form-control"
                       [(ngModel)]="filter_date">
    <select class="form-select"
            [(ngModel)]="filter_source">
      <option selected>საიდან</option>
      <option *ngFor="let station of stations">{{station.name}}</option>
    </select>
    <select class="form-select"
            [(ngModel)]="filter_destination"
            >
            <option selected>სად</option>
            <option *ngFor="let station of stations">{{station.name}}</option>
    </select>
    <button class="btn btn-primary"
    [disabled]="
    !filter_source || !filter_destination || !filter_date ||
    filter_source == filter_destination || filter_source == 'საიდან' || filter_destination == 'სად'
    "
    routerLink="/tickets/{{filter_source}}/{{filter_destination}}/{{filter_date}}"
    >მოძებნა</button>
  </div>
</section>

<section class="mt-4 train-services">
  <div class="card border-0 shadow-sm services">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">სერვისები მატარებელში</h5>
    </div>
    <div class="card-body">
      <div class="row g-4 text-center">
        <div class="col-4 col-md-2">
          <div class="service-item">
            <div class="icon-wrapper mb-2">
              <i class="bi bi-wifi"></i>
            </div>
            <p class="mb-0">უფასო WiFi</p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="service-item">
            <div class="icon-wrapper mb-2">
              <i class="bi bi-cup-hot"></i>
            </div>
            <p class="mb-0">კაფე-ბარი</p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="service-item">
            <div class="icon-wrapper mb-2">
              <i class="bi bi-thermometer-half"></i>
            </div>
            <p class="mb-0">კონდიციონერი</p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="service-item">
            <div class="icon-wrapper mb-2">
              <i class="bi bi-person-wheelchair"></i>
            </div>
            <p class="mb-0">ხელმისაწვდომობა</p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="service-item">
            <div class="icon-wrapper mb-2">
              <i class="bi bi-bicycle"></i>
            </div>
            <p class="mb-0">სწრაფი დამტენები</p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="service-item">
            <div class="icon-wrapper mb-2">
              <i class="bi bi-outlet"></i>
            </div>
            <p class="mb-0">ოთხფეხა მეგობრები</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
