<section class="filter">
  <h1>
  მატარებლის ოფიციალური ბილეთი მარტივად
  </h1>

  <div>
  <input type="date" class="form-control"
                     [(ngModel)]="filter_date">
  <select class="form-select"
          [(ngModel)]="filter_source">
    <option selected>საიდან</option>
    <option *ngFor="let station of stations">{{station.name}}</option>
  </select>
  <select class="form-select"
          [(ngModel)]="filter_destination"
          >
          <option selected>სად</option>
          <option *ngFor="let station of stations">{{station.name}}</option>
  </select>
  <button class="btn btn-primary"
  [disabled]="
  !filter_source || !filter_destination || !filter_date ||
  filter_source == filter_destination
  "
  routerLink="/tickets/{{filter_source}}/{{filter_destination}}/{{filter_date}}"
  >მოძებნა</button>
  </div>
</section>
