<div>
  <h1>Railway Official Tickets</h1>
  <form>
    <div class="inputs">
      <input
          type="date"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name = "date"
          [(ngModel)] = "departure.date"
          required
          >
          <select
              class="form-select"
              aria-label="Default select example"
              name = "source"
              [(ngModel)] = "departure.source"
              >
              <option selected>საიდან</option>
              <option *ngFor="let station of stations">{{station.name}}</option>
          </select>
          <select
              class="form-select"
              aria-label="Default select example"
              name = "destination"
              [(ngModel)] = "departure.destination"
              >
              <option selected>სად</option>
              <option *ngFor="let station of stations">{{station.name}}</option>
          </select>
    </div>
    <button
    type="button"
    class="btn btn-primary fs-5"
    routerLink="/home/{{departure.date}}/{{departure.source}}/{{departure.destination}}"
    >ძებნა</button>
  </form>
</div>
