<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
      <img src="logo.png">
      <a class="navbar-brand" href="#">{{app}}</a>
    </div>
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
              class="nav-link"
              routerLink="/home"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >მთავარი</a>
        </li>
        <li class="nav-item">
          <a
              class="nav-link"
              routerLink="/history"
              routerLinkActive="active"
              >ისტორია</a>
        </li>
        <li class="nav-item">
          <a
              class="nav-link"
              routerLink="/information"
              routerLinkActive="active"
              >ინფორმაცია</a>
        </li>
        <li class="nav-item">
          <a
              class="nav-link"
              [class.active]="currentRoute == '/login'"
              routerLink="/login"
              routerLinkActive="active"
              >{{_signal.navLoginText()}}</a>
          <!-- (click)="navigateLogin()" -->
        </li>
      </ul>
    </div>

  </div>
</nav>
