<section>
  <div
      class="card"
      style="width: 20rem;"
      *ngFor="let ticket of filteredTickets; let index = index"
      >
      <div class="card-body"
           >
           <h5 class="card-title">ადგილი: {{ticket.persons[0].seat.number}}</h5>
           <h5 class="card-text">ბილეთის ფასი: {{ticket.ticketPrice}}&#8382;</h5>
           <h5 class="card-title">თარიღი: {{ticket.date}}</h5>
           <h5 class="card-title">საიდან: {{ticket.train.from}} {{ticket.train.departure}}</h5>
           <h5 class="card-title">სად: {{ticket.train.to}} {{ticket.train.arrive}}</h5>
           <h5 class="card-text">სახელი: {{ticket.persons[0].name}} {{ticket.persons[0].surname}}</h5>
           <h5 class="card-text">ელფოსტა: {{ticket.email}}</h5>
           <h5 class="card-text">ნომერი: {{ticket.phone}}</h5>
           <a
               class="btn btn-danger"
               (click)="deleteTicket(ticket.id)"
               >წაშლა</a>
      </div>
  </div>
</section>
