<form (ngSubmit)="buyTickets()">
  <div class="mb-3">
    <label class="form-label">სახელი</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    name="name"
    [(ngModel)]="name"
    >
  </div>
  <div class="mb-3">
    <label class="form-label">გვარი</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    name="surname"
    [(ngModel)]="surname"
    >
  </div>
  <div class="mb-3">
    <label class="form-label">ელფოსტა</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    name="email"
    [(ngModel)]="email"
    >
  </div>
  <div class="mb-3">
    <label class="form-label">ტელეფონის ნომერი</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    name="number"
    [(ngModel)]="number"
    >
  </div>
    <button type="submit"
            class="btn btn-success fs-5"
            [disabled]="!(email && number && surname && name && isValidEmail())"
            >ყიდვა</button>
</form>
