<div class="container mt-5 text-center">
  <div class="row">
    <div class="col-md-12">
      <div class="mt-5">
        <h1 class="display-1 text-danger">404</h1>
        <h2 class="display-4">გვერდი ვერ მოიძებნა</h2>
        <p class="lead">გვერდი, რომელსაც ეძებთ, შესაძლოა წაიშალა, სახელი შეეცვალა ან დროებით მიუწვდომელია.</p>
        <div class="mt-4 mb-4">
          <a class="btn btn-primary me-2"
             routerLink="/home"
          >მთავარი გვერდი</a>
          <a class="btn btn-secondary"
             routerLink="/information"
            >კონტაქტი</a>
        </div>
      </div>
    </div>
  </div>
</div>
